.black {	background-color:black;	}
.gallery { list-style: none; padding: 0; margin: 0;  }
.gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.gallery li { float: left; width: 25%;  }
#Gallery1 .ui-content, #Gallery2 .ui-content { overflow: hidden; }