.ads_header {
font-size: 1.17em !important;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold !important;
color: #666 !important;
}
.close_ads  {
	float: right!important;
	padding-right: 5px !important;
}
.ads_container a{
font: 11px arial !important;
font-weight: 700 !important;
}
.ads_container img{
max-width: 50px !important;
}
.ads_container .ad_item {
	margin: 5px;
	display: block;
	padding-bottom: 6px;
	background-color: white!important;;
	text-align: center;
	border-bottom: dotted #D0D0D0!important;
}
.ads_container .ad_item:HOVER {
	background-color: #FFFF99 !important;
}
.ads_container {
	overflow-x: auto;
	height: 620px;
}

#left_banner_ads {
padding:5px;background:#FFFFFF; border:2px solid #2266AA; z-index:1000000; color: #666;
}

#right_banner_ads
{
padding:5px;background:#FFFFFF; border:2px solid #2266AA; z-index:1000000; color: #666;
}
.zone {
	overflow-x: auto;
	height: 300px;
	border-bottom: solid 1px #D0D0D0!important;
	margin-bottom: 3px;
}